:root {
  --vd-brand-logo-height: 36px;
  --vd-layout-header-height: 48px;
  --vd-layout-tabsview-height: 36px;
  --vd-breadcrumb-dropdown-option-padding: 0px;
  --vd-layout-sidebar-shadow: rgba(0, 0, 0, 0.1) 5px 0px 5px;
  --vd-layout-tabsview-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  --vd-layout-tabsview-zindex: 1008;
  --vd-layout-header-zindex: 1009;
  --vd-layout-sidebar-zindex: 1010;
}
